.app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.todoform {
    display: flex;
    gap: 10px;
    align-items: center;
}

.todoform input {
    height: 20px;
    padding: 7px;
}
.todoform button {
    width: 50px;
    padding: 7px;
}

.todo {
    margin-top: 10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
